pipeline/CM_JUROS_PROCESSO.json
{
	"name": "CM_JUROS_PROCESSO",
	"properties": {
		"activities": [
			{
				"name": "cm_juros_processo",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "set-cod_calendario_monetario_anterior",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ExcelSource",
						"additionalColumns": [
							{
								"name": "filename",
								"value": "$$FILEPATH"
							},
							{
								"name": "created_at",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						}
					},
					"sink": {
						"type": "SqlDWSink",
						"preCopyScript": "truncate table carga_inicial_cm_juros_processo",
						"writeBehavior": "Insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "filename",
									"type": "String"
								},
								"sink": {
									"name": "filename",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "created_at",
									"type": "String"
								},
								"sink": {
									"name": "created_at",
									"type": "DateTime",
									"physicalType": "datetime"
								}
							},
							{
								"source": {
									"name": "SEQUENCIAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sequencial",
									"type": "String",
									"physicalType": "varchar"
								}
							},
							{
								"source": {
									"name": "PROV_CP_CM_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prov_cp_cm_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "PROV_CP_JUROS_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prov_cp_juros_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "PROV_LP_CM_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prov_lp_cm_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "PROV_LP_JUROS_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prov_lp_juros_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "POSSIVEL_OP_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "possivel_op_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "POSSIVEL_CM_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "possivel_cm_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "POSSIVEL_JUROS_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "possivel_juros_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "POSSIVEL_FI_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "possivel_fi_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "POSSIVEL_OP_E_FI_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "possivel_op_e_fi_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "REMOTO_OP_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remoto_op_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "REMOTO_CM_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remoto_cm_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "REMOTO_JUROS_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remoto_juros_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "REMOTO_FI_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remoto_fi_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							},
							{
								"source": {
									"name": "REMOTO_OP_E_FI_FINAL",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "remoto_op_e_fi_final",
									"type": "Decimal",
									"physicalType": "decimal",
									"scale": 2,
									"precision": 25
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_LakeStorage_Xlsx_SelfHosted",
						"type": "DatasetReference",
						"parameters": {
							"sheetname": "cm_juros_processo",
							"folder": "cm_juros_processo",
							"filename": "carga_inicial_cm_juros_processo.xlsx"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_SynapseDedicado_SelfHosted",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "dbo",
							"Table": "carga_inicial_cm_juros_processo"
						}
					}
				]
			},
			{
				"name": "update columns fotografia_item anterior",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "cm_juros_processo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Pool Dedicated",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "update fi\n   set prov_cp_cm_final = cmjp.prov_cp_cm_final\n     , prov_cp_juros_final = cmjp.prov_cp_juros_final\n     , prov_lp_cm_final = cmjp.prov_lp_cm_final\n     , prov_lp_juros_final = cmjp.prov_lp_juros_final\n     , possivel_op_final = cmjp.possivel_op_final\n     , possivel_cm_final = cmjp.possivel_cm_final\n     , possivel_juros_final = cmjp.possivel_juros_final\n     , possivel_fi_final = cmjp.possivel_fi_final\n     , possivel_op_fi_final = cmjp.possivel_op_e_fi_final\n     , remoto_op_final = cmjp.remoto_op_final\n     , remoto_cm_final = cmjp.remoto_cm_final\n     , remoto_juros_final = cmjp.remoto_juros_final\n     , remoto_fi_final = cmjp.remoto_fi_final\n     , remoto_op_fi_final = cmjp.remoto_op_e_fi_final\n     , updated_at = format(getdate() at time zone 'UTC' at time zone 'E. South America Standard Time', 'yyyy-MM-dd HH:mm:ss')\n  from fotografia_item fi\n inner join carga_inicial_cm_juros_processo cmjp\n    on cmjp.sequencial = fi.sequencial\n where fi.cod_calendario_monetario = @{variables('cod_calendario_monetario_anterior')}",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "get-cod_calendario_monetario_anterior",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select cast(max(cod_calendario_monetario) as varchar(4)) cod_calendario_monetario_anterior\n  from Silver.calendario_monetario\n where cod_calendario_monetario < (select cod_calendario_monetario\n                                     from Silver.calendario_monetario\n                                    where sts_ativo = 1\n                                  )",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SynapseDedicado_SelfHosted",
						"type": "DatasetReference",
						"parameters": {
							"Schema": " ",
							"Table": " "
						}
					}
				}
			},
			{
				"name": "set-cod_calendario_monetario_anterior",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-cod_calendario_monetario_anterior",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "cod_calendario_monetario_anterior",
					"value": {
						"value": "@activity('get-cod_calendario_monetario_anterior').output.firstRow.cod_calendario_monetario_anterior",
						"type": "Expression"
					}
				}
			},
			{
				"name": "insert-processos_pendentes",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "update columns fotografia_item anterior",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Pool Dedicated",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "NonQuery",
							"text": {
								"value": "insert\n  into rl3.processos_pendentes\n     ( num_processo\n     , cod_empresa\n     , sig_escritorio_contratado\n     , cod_divisao_processo\n     , pipeline_id\n     , table_changed\n     , tipo_processo\n     )\nselect distinct p.num_processo\n     , p.cod_empresa\n     , sig_escritorio_contratado\n     , cod_divisao_processo\n     , '@{pipeline().RunId}'\n     , 'CARGA INICIAL MANUAL'\n     , 'N'\n  from carga_inicial_cm_juros_processo cmjp\n inner join Silver.processo p\n    on p.num_processo = cmjp.sequencial",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "CmJurosProcessoLoadIntoCosmosFotografiaAnterior",
				"type": "SynapseNotebook",
				"dependsOn": [
					{
						"activity": "insert-processos_pendentes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"notebook": {
						"referenceName": "CmJurosProcessoLoadIntoCosmosFotografiaAnterior",
						"type": "NotebookReference"
					},
					"snapshot": true,
					"executorSize": "Medium",
					"conf": {
						"spark.dynamicAllocation.enabled": false
					},
					"driverSize": "Medium"
				}
			}
		],
		"variables": {
			"filename": {
				"type": "String"
			},
			"maxLastModified": {
				"type": "String",
				"defaultValue": "2000-01-01"
			},
			"cod_calendario_monetario_anterior": {
				"type": "String"
			}
		},
		"folder": {
			"name": "P3/CARGAS_INICIAIS"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-01T19:25:27Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}