pipeline/GOLD_INGESTION_DIMS.json
{
	"name": "GOLD_INGESTION_DIMS",
	"properties": {
		"activities": [
			{
				"name": "ConsultaTabelas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select\r\n*\r\nfrom\r\njarvis_ctrl_ingestion_goldtables\r\nwhere\r\ntp_table = 'DIM'\r\nAND\r\nactive = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Jarvis_Pool_Dedicado14312",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "dbo",
							"Table": "teste"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ProcessaTabelas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ConsultaTabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ConsultaTabelas').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Define Tabela",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Grava Inicio Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "table_name",
								"value": {
									"value": "@toLower(item().table_name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Define Tipo Carga",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tabela",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tipo_carga",
								"value": {
									"value": "@item().full_processing",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Ler query",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Define Ultima Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Arquivo_Query13512",
									"type": "DatasetReference",
									"parameters": {
										"file_url": {
											"value": "@split(toLower(item().query_path),'/' )[6]",
											"type": "Expression"
										},
										"file_path": "gold/queries_gold"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Define Tipo Condicional",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tipo Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "condional",
								"value": {
									"value": "@item().conditional_clause",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Define Ultima Carga",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tipo Condicional",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Ultima_Carga",
								"value": {
									"value": "@item().last_update",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Controla tipo de carga",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Ler query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@variables('tipo_carga')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Insere Dados Com Condicional",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Registra Inicio_op",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderQuery": {
													"value": "@concat(replace(replace(activity('Ler query').output.firstRow.Prop_0,'\\r\\n\\t',''),';' ,' ' ),variables('condional'))",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlDWSink",
												"preCopyScript": {
													"value": "@{item().pre_script}",
													"type": "Expression"
												},
												"writeBehavior": "Upsert",
												"upsertSettings": {
													"keys": {
														"value": "@array(item().primary_key)",
														"type": "Expression"
													},
													"interimSchemaName": "dbo"
												},
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Jarvis_Pool_Dedicado14312",
												"type": "DatasetReference",
												"parameters": {
													"Schema": "dbo",
													"Table": "teste"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Jarvis_Pool_Dedicado14312",
												"type": "DatasetReference",
												"parameters": {
													"Schema": "dbo",
													"Table": {
														"value": "@toLower(item().table_name)",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Registra Inicio_op",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_process_time",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Insere Dados sem condicional",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Registra Inicio",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "SqlDWSource",
												"sqlReaderQuery": {
													"value": "@replace(activity('Ler query').output.firstRow.Prop_0,'\\r\\n\\t','')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlDWSink",
												"writeBehavior": "Insert",
												"sqlWriterUseTableLock": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "Jarvis_Pool_Dedicado14312",
												"type": "DatasetReference",
												"parameters": {
													"Schema": "dbo",
													"Table": "teste"
												}
											}
										],
										"outputs": [
											{
												"referenceName": "Jarvis_Pool_Dedicado14312",
												"type": "DatasetReference",
												"parameters": {
													"Schema": {
														"value": "@toLower(item().table_name)",
														"type": "Expression"
													},
													"Table": "dbo"
												}
											}
										]
									},
									{
										"name": "Registra Inicio",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_process_time",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									}
								]
							}
						},
						{
							"name": "Atualiza Registros de carga",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Controla tipo de carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
								"storedProcedureParameters": {
									"full_processing": {
										"value": "FALSE",
										"type": "Boolean"
									},
									"last_process_start": {
										"value": {
											"value": "@variables('Inicio_Carga')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"last_update": {
										"value": {
											"value": "@variables('start_process_time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"message_last_up": {
										"value": "CARGA PROCESSADA COM SUCESSO",
										"type": "String"
									},
									"status_last_up": {
										"value": "SUCCESS",
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@variables('table_name')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SelfHosted Lake",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Atualiza Registros com falha",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Ler query",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Controla tipo de carga",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
								"storedProcedureParameters": {
									"full_processing": {
										"value": {
											"value": "@variables('tipo_carga')",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"last_process_start": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"last_update": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"message_last_up": {
										"value": {
											"value": "@concat('falha ao processar a tabela ',variables('table_name'))",
											"type": "Expression"
										},
										"type": "String"
									},
									"status_last_up": {
										"value": "FAIL",
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@variables('table_name')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SelfHosted Lake",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Grava Inicio Carga",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Inicio_Carga",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			},
			"query_path": {
				"type": "string"
			}
		},
		"variables": {
			"table_name": {
				"type": "String"
			},
			"tipo_carga": {
				"type": "Boolean"
			},
			"condional": {
				"type": "String"
			},
			"chave": {
				"type": "String"
			},
			"start_process_time": {
				"type": "String"
			},
			"Ultima_Carga": {
				"type": "String"
			},
			"Inicio_Carga": {
				"type": "String"
			}
		},
		"folder": {
			"name": "GOLD"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-20T23:20:03Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}