pipeline/INGESTION_GOLD_TABLES_STG.json
{
	"name": "INGESTION_GOLD_TABLES_STG",
	"properties": {
		"activities": [
			{
				"name": "ConsultaTabelas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT\nt.*\nFROM\njarvis_ctrl_ingestion_goldtables T\nLEFT JOIN\njarvis_sync_control C ON C.table_name = REPLACE(t.table_name,'STG_','') AND T.last_update < C.SILVER_UPDATE\nWHERE\nt.ACTIVE  = 1\nAND\nt.TP_TABLE IN('STG') \nAND\n(C.table_name IS NOT NULL OR T.FULL_PROCESSING = 1)\n",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlDedicatedPool",
						"type": "DatasetReference",
						"parameters": {
							"table_name_select": "jarvis_ctrl_ingestion_goldtables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ProcessaTabelas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ConsultaTabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ConsultaTabelas').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Define Tabela",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Grava Inicio Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "table_name",
								"value": {
									"value": "@toLower(item().table_name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Define Tipo Carga",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tabela",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tipo_carga",
								"value": {
									"value": "@item().full_processing",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Ler query",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Define Ultima Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Arquivo_Query",
									"type": "DatasetReference",
									"parameters": {
										"file_url": {
											"value": "@split(toLower(item().query_path),'/' )[6]",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Define Tipo Condicional",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tipo Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "condional",
								"value": {
									"value": "@item().conditional_clause",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Define Ultima Carga",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tipo Condicional",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Ultima_Carga",
								"value": {
									"value": "@item().last_update",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Controla tipo de carga",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Ler query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@item().full_processing",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Insere Dados Com Condicional",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Registra Inicio_op",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(replace(replace(activity('Ler query').output.firstRow.Prop_0,'\\r\\n\\t',''),';' ,' ' ),' ',item().conditional_clause\n,'DATETIMEFROMPARTS(',\nsubstring(item().last_update,0,4),','\n,substring(item().last_update,5,2),','\n,substring(item().last_update,8,2),','\n,substring(item().last_update,11,2),','\n,substring(item().last_update,14,2),','\n,substring(item().last_update,17,2),',00'\n,' )')\n\n\n",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlPoolSink",
												"writeBehavior": "Insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate"
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SQLServlessPool",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "SqlDedicatedPool",
												"type": "DatasetReference",
												"parameters": {
													"table_name_select": {
														"value": "@toLower(item().table_name)",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Registra Inicio_op",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_process_time",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Atualiza Registros Sucesso P",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Insere Dados Com Condicional",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
											"storedProcedureParameters": {
												"full_processing": {
													"value": "FALSE",
													"type": "Boolean"
												},
												"last_process_start": {
													"value": {
														"value": "@variables('Inicio_Carga')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"last_update": {
													"value": {
														"value": "@variables('start_process_time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"message_last_up": {
													"value": "CARGA PROCESSADA COM SUCESSO",
													"type": "String"
												},
												"status_last_up": {
													"value": "SUCCESS",
													"type": "String"
												},
												"table_name": {
													"value": {
														"value": "@toLower(item().table_name)",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Pool Dedicated",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Atualiza Registros Falha P",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Insere Dados Com Condicional",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
											"storedProcedureParameters": {
												"full_processing": {
													"value": {
														"value": "@variables('tipo_carga')",
														"type": "Expression"
													},
													"type": "Boolean"
												},
												"last_process_start": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"last_update": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"message_last_up": {
													"value": {
														"value": "@concat('falha ao processar a tabela ',variables('table_name'))",
														"type": "Expression"
													},
													"type": "String"
												},
												"status_last_up": {
													"value": "FAIL",
													"type": "String"
												},
												"table_name": {
													"value": {
														"value": "@toLower(item().table_name)",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Pool Dedicated",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Insere Dados sem condicional",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Registra Inicio",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@replace(activity('Ler query').output.firstRow.Prop_0,'\\r\\n\\t','')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlPoolSink",
												"writeBehavior": "Insert",
												"tableOption": "autoCreate"
											},
											"enableStaging": false,
											"parallelCopies": 10,
											"dataIntegrationUnits": 4
										},
										"inputs": [
											{
												"referenceName": "SQLServlessPool",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "SqlDedicatedPool",
												"type": "DatasetReference",
												"parameters": {
													"table_name_select": {
														"value": "@toLower(item().table_name)",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Registra Inicio",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_process_time",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Atualiza Registros Sucesso",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Insere Dados sem condicional",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
											"storedProcedureParameters": {
												"full_processing": {
													"value": "FALSE",
													"type": "Boolean"
												},
												"last_process_start": {
													"value": {
														"value": "@variables('Inicio_Carga')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"last_update": {
													"value": {
														"value": "@variables('start_process_time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"message_last_up": {
													"value": "CARGA PROCESSADA COM SUCESSO",
													"type": "String"
												},
												"status_last_up": {
													"value": "SUCCESS",
													"type": "String"
												},
												"table_name": {
													"value": {
														"value": "@toLower(item().table_name)",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Pool Dedicated",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Atualiza Registros falha",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Insere Dados sem condicional",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
											"storedProcedureParameters": {
												"full_processing": {
													"value": {
														"value": "@variables('tipo_carga')",
														"type": "Expression"
													},
													"type": "Boolean"
												},
												"last_process_start": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"last_update": {
													"value": {
														"value": "@utcnow()",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"message_last_up": {
													"value": {
														"value": "@concat('falha ao processar a tabela ',variables('table_name'))",
														"type": "Expression"
													},
													"type": "String"
												},
												"status_last_up": {
													"value": "FAIL",
													"type": "String"
												},
												"table_name": {
													"value": {
														"value": "@toLower(item().table_name)",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "Pool Dedicated",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Grava Inicio Carga",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Inicio_Carga",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"table_name": {
				"type": "String"
			},
			"tipo_carga": {
				"type": "Boolean"
			},
			"condional": {
				"type": "String"
			},
			"chave": {
				"type": "String"
			},
			"start_process_time": {
				"type": "String"
			},
			"Ultima_Carga": {
				"type": "String"
			},
			"Inicio_Carga": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipes_Antigos"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T15:45:18Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}