pipeline/INGESTION_GOLD_TABLES_STG_FULL.json
{
	"name": "INGESTION_GOLD_TABLES_STG_FULL",
	"properties": {
		"activities": [
			{
				"name": "ConsultaTabelas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT\n*\nFROM\njarvis_ctrl_ingestion_goldtables\nWHERE\nACTIVE  = 1\nAND\nTP_TABLE = 'STG'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlDedicatedPool",
						"type": "DatasetReference",
						"parameters": {
							"table_name_select": "jarvis_ctrl_ingestion_goldtables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ProcessaTabelas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ConsultaTabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ConsultaTabelas').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Define Tabela",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "table_name",
								"value": {
									"value": "@toLower(item().table_name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Define Tipo Carga",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tabela",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tipo_carga",
								"value": {
									"value": "@item().full_processing",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Ler query",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Define Chave",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Arquivo_Query",
									"type": "DatasetReference",
									"parameters": {
										"file_url": {
											"value": "@split(toLower(item().query_path),'/' )[6]",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Define Tipo Condicional",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tipo Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "condional",
								"value": {
									"value": "@item().conditional_clause",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Define Chave",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tipo Condicional",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "chave",
								"value": {
									"value": "@item().primary_key",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Atualiza Registros de carga",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Insere Dados Parquet",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
								"storedProcedureParameters": {
									"full_processing": {
										"value": "FALSE",
										"type": "Boolean"
									},
									"last_process_start": {
										"value": {
											"value": "@variables('start_process_time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"last_update": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"message_last_up": {
										"value": "CARGA PROCESSADA COM SUCESSO",
										"type": "String"
									},
									"status_last_up": {
										"value": "SUCCESS",
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@variables('table_name')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Pool Dedicated",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Insere Dados Parquet",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Registra Inicio_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ParquetSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@concat('data/silver/tables/',replace(variables('table_name'),'stg_',''))",
											"type": "Expression"
										},
										"wildcardFileName": {
											"value": "@concat('part-','*.parquet')",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									}
								},
								"sink": {
									"type": "SqlPoolSink",
									"writeBehavior": "Insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate"
								},
								"enableStaging": false,
								"parallelCopies": 10,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Parquet_origem",
									"type": "DatasetReference",
									"parameters": {
										"Input_table_name": {
											"value": "@replace(variables('table_name'),'stg_','')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "SqlDedicatedPool",
									"type": "DatasetReference",
									"parameters": {
										"table_name_select": "@variables('table_name')"
									}
								}
							]
						},
						{
							"name": "Registra Inicio_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Ler query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "start_process_time",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string"
			},
			"query_path": {
				"type": "string"
			}
		},
		"variables": {
			"table_name": {
				"type": "String"
			},
			"tipo_carga": {
				"type": "Boolean"
			},
			"condional": {
				"type": "String"
			},
			"chave": {
				"type": "String"
			},
			"start_process_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipes_Antigos"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T15:45:05Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}