pipeline/INGESTION_GOLD_TABLES_AUX.json
{
	"name": "INGESTION_GOLD_TABLES_AUX",
	"properties": {
		"activities": [
			{
				"name": "ConsultaTabelas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT\n*\nFROM\njarvis_ctrl_ingestion_goldtables\nWHERE\nACTIVE  = 1\nAND\nTP_TABLE = 'AUX'",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlDedicatedPool",
						"type": "DatasetReference",
						"parameters": {
							"table_name_select": "jarvis_ctrl_ingestion_goldtables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ProcessaTabelas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ConsultaTabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ConsultaTabelas').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Define Tabela",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "table_name",
								"value": {
									"value": "@toLower(item().table_name)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Define Tipo Carga",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tabela",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "tipo_carga",
								"value": {
									"value": "@item().full_processing",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Ler query",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Define Chave",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Arquivo_Query",
									"type": "DatasetReference",
									"parameters": {
										"file_url": {
											"value": "@split(toLower(item().query_path),'/' )[6]",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Define Tipo Condicional",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tipo Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "condional",
								"value": {
									"value": "@item().conditional_clause",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Define Chave",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Define Tipo Condicional",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "chave",
								"value": {
									"value": "@item().primary_key",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Controla tipo de carga",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Ler query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@variables('tipo_carga')",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Apaga Dados",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Registra Inicio_op",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "Pool Dedicated",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@concat('DROP TABLE ',toLower(item().table_name),';')",
														"type": "Expression"
													}
												}
											]
										}
									},
									{
										"name": "Registra Inicio_op",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_process_time",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Insere Tabela full",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Apaga Dados",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "Pool Dedicated",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@replace(replace(activity('Ler query').output.firstRow.Prop_0,'\\r\\n\\t',''),';' ,' ' )",
														"type": "Expression"
													}
												}
											]
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Registra Inicio",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_process_time",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Insere Tabela",
										"type": "Script",
										"dependsOn": [
											{
												"activity": "Registra Inicio",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"linkedServiceName": {
											"referenceName": "Pool Dedicated",
											"type": "LinkedServiceReference"
										},
										"typeProperties": {
											"scripts": [
												{
													"type": "Query",
													"text": {
														"value": "@replace(replace(activity('Ler query').output.firstRow.Prop_0,'\\r\\n\\t',''),';' ,' ' )",
														"type": "Expression"
													}
												}
											]
										}
									}
								]
							}
						},
						{
							"name": "Atualiza Registros de carga",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Controla tipo de carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
								"storedProcedureParameters": {
									"full_processing": {
										"value": "FALSE",
										"type": "Boolean"
									},
									"last_process_start": {
										"value": {
											"value": "@variables('start_process_time')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"last_update": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"message_last_up": {
										"value": "CARGA PROCESSADA COM SUCESSO",
										"type": "String"
									},
									"status_last_up": {
										"value": "SUCCESS",
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "toLower(item().table_name)",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Pool Dedicated",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Atualiza Registros com falha",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Ler query",
									"dependencyConditions": [
										"Failed"
									]
								},
								{
									"activity": "Controla tipo de carga",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[update_status_jarvis_ctrl_ingestion_goldtables]",
								"storedProcedureParameters": {
									"full_processing": {
										"value": {
											"value": "@variables('tipo_carga')",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"last_process_start": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"last_update": {
										"value": {
											"value": "@utcnow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"message_last_up": {
										"value": {
											"value": "@concat('falha ao processar a tabela ',variables('table_name'))",
											"type": "Expression"
										},
										"type": "String"
									},
									"status_last_up": {
										"value": "FAIL",
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@variables('table_name')",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "Pool Dedicated",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			},
			{
				"name": "ConsultaAlteracoes",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ProcessaTabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlPoolSource",
						"sqlReaderQuery": "SELECT\n*\nFROM\njarvis_ctrl_ingestion_goldtables\nWHERE\nCAST(last_update as date) =  dateadd(day,-1,cast(getdate() as date))",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "SqlDedicatedPool",
						"type": "DatasetReference",
						"parameters": {
							"table_name_select": "jarvis_ctrl_ingestion_goldtables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Altera Flag",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ConsultaAlteracoes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ConsultaAlteracoes').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Remove Flag Process_pending",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "Pool Dedicated",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat('UPDATE ',item().table_name,' SET pending_processing = 0;')",
											"type": "Expression"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "Atualiza Dims",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Altera Flag",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "INGESTION_GOLD_TABLES_DIMS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"parameters": {
			"table_name": {
				"type": "string",
				"defaultValue": null
			},
			"query_path": {
				"type": "string",
				"defaultValue": null
			}
		},
		"variables": {
			"table_name": {
				"type": "String"
			},
			"tipo_carga": {
				"type": "Boolean"
			},
			"condional": {
				"type": "String"
			},
			"chave": {
				"type": "String"
			},
			"start_process_time": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Pipes_Antigos"
		},
		"annotations": [],
		"lastPublishTime": "2022-11-08T15:45:25Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}