pipeline/P3_FOTOGRAFIA_OLD.json
{
	"name": "P3_FOTOGRAFIA_OLD",
	"properties": {
		"activities": [
			{
				"name": "get-max_current_ts",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT MAX(CONVERT(DATETIME, REPLACE(LEFT(current_ts, 18), 'T', ' '), 20)) AS max_current_ts\n  FROM Silver.param_fotografia_evh",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Jarvis_Pool_Dedicado16152",
						"type": "DatasetReference",
						"parameters": {
							"Schema": " ",
							"Table": " "
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "set-max_current_ts",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get-max_current_ts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "max_current_ts",
					"value": {
						"value": "@activity('get-max_current_ts').output.firstRow.max_current_ts",
						"type": "Expression"
					}
				}
			},
			{
				"name": "foreach-new_request",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get-new_requests_evh",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('get-new_requests_evh').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "insert_param_fotografia",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "SelfHosted Lake",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "IF EXISTS (\n    SELECT 1 FROM Silver.param_fotografia_evh\n    WHERE photographyId = '@{item().photographyId}'\n    AND sig_escritorio_contratado = '@{item().sig_escritorio_contratado}'\n    AND cod_divisao_processo = '@{item().cod_divisao_processo}'\n    AND cod_calendario_monetario = '@{item().cod_calendario_monetario}'\n    AND STATUS = 0\n)\n    THROW 50001, 'Já existe uma execução em andamento para esta fotografia', 1;\n\nINSERT INTO [Silver].[param_fotografia_evh] \n    (op_type\n    ,current_ts\n    ,id\n    ,photographyId\n    ,sig_escritorio_contratado\n    ,cod_divisao_processo\n    ,cod_calendario_monetario\n    ,nom_usuario_responsavel\n    ,nom_usuario_fotografo\n    ,dtc_data_fotografia\n    ,status\n    )\nVALUES( \n     '@{item().op_type}'\n    ,'@{item().current_ts}'\n    ,'@{item().id}'\n    ,'@{item().photographyId}'\n    ,'@{item().sig_escritorio_contratado}'\n    ,'@{item().cod_divisao_processo}'\n    ,'@{item().cod_calendario_monetario}'\n    ,'@{item().nom_usuario_responsavel}'\n    ,'@{item().nom_usuario_fotografo}'\n    ,'@{item().dtc_data_fotografia}'\n    , 0\n)",
											"type": "Expression"
										}
									}
								]
							}
						},
						{
							"name": "P3_fotografia_Extract",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "insert_param_fotografia",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "P3_FOTOGRAFIA_EXTRACT",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"cod_calendario_monetario": {
										"value": "@{item().cod_calendario_monetario}",
										"type": "Expression"
									},
									"nom_usuario_responsavel": {
										"value": "@{item().nom_usuario_responsavel}",
										"type": "Expression"
									},
									"nom_usuario_fotografo": {
										"value": "@{item().nom_usuario_fotografo}",
										"type": "Expression"
									},
									"dtc_data_fotografia": {
										"value": "@{item().dtc_data_fotografia}",
										"type": "Expression"
									},
									"sig_escritorio_contratado": {
										"value": "@{item().sig_escritorio_contratado}",
										"type": "Expression"
									},
									"cod_divisao_processo": {
										"value": "@{item().cod_divisao_processo}",
										"type": "Expression"
									},
									"photographyId": {
										"value": "@{item().photographyId}",
										"type": "Expression"
									},
									"id": {
										"value": "@replace(item().id, '-', '')",
										"type": "Expression"
									},
									"id_raw": {
										"value": "@{item().id}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "P3_Fotografia_Transform",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "P3_fotografia_Extract",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "P3_FOTOGRAFIA_TRANSFORM",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"photographyId": {
										"value": "@{item().photographyId}",
										"type": "Expression"
									},
									"sig_escritorio_contratado": {
										"value": "@{item().sig_escritorio_contratado}",
										"type": "Expression"
									},
									"cod_divisao_processo": {
										"value": "@{item().cod_divisao_processo}",
										"type": "Expression"
									},
									"cod_calendario_monetario": {
										"value": "@{item().cod_calendario_monetario}",
										"type": "Expression"
									},
									"dtc_data_fotografia": {
										"value": "@{item().dtc_data_fotografia}",
										"type": "Expression"
									},
									"nom_usuario_responsavel": {
										"value": "@{item().nom_usuario_responsavel}",
										"type": "Expression"
									},
									"nom_usuario_fotografo": {
										"value": "@{item().nom_usuario_fotografo}",
										"type": "Expression"
									},
									"id": {
										"value": "@replace(item().id, '-', '')",
										"type": "Expression"
									},
									"id_raw": {
										"value": "@{item().id}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "P3_Fotografia_Load",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "P3_Fotografia_Transform",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "P3_FOTOGRAFIA_LOAD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"cod_calendario_monetario": {
										"value": "@{item().cod_calendario_monetario}",
										"type": "Expression"
									},
									"nom_usuario_responsavel": {
										"value": "@{item().nom_usuario_responsavel}",
										"type": "Expression"
									},
									"nom_usuario_fotografo": {
										"value": "@{item().nom_usuario_fotografo}",
										"type": "Expression"
									},
									"dtc_data_fotografia": {
										"value": "@{item().dtc_data_fotografia}",
										"type": "Expression"
									},
									"sig_escritorio_contratado": {
										"value": "@{item().sig_escritorio_contratado}",
										"type": "Expression"
									},
									"cod_divisao_processo": {
										"value": "@{item().cod_divisao_processo}",
										"type": "Expression"
									},
									"photographyId": {
										"value": "@{item().photographyId}",
										"type": "Expression"
									},
									"id": {
										"value": "@replace(item().id, '-', '')",
										"type": "Expression"
									},
									"id_raw": {
										"value": "@{item().id}",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "P3_PARAMETRO_ERRO_EXT",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "P3_fotografia_Extract",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "P3_PARAMETRO_ARQUIVO_P3_OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"cod_calendario_monetario": {
										"value": "@item().cod_calendario_monetario",
										"type": "Expression"
									},
									"cod_divisao_processo": {
										"value": "@{item().cod_divisao_processo}",
										"type": "Expression"
									},
									"sig_escritorio_contratado": {
										"value": "@{item().sig_escritorio_contratado}",
										"type": "Expression"
									},
									"id_code": {
										"value": "@{item().id}",
										"type": "Expression"
									},
									"photography_id": {
										"value": "@{item().photographyId}",
										"type": "Expression"
									},
									"user_id": {
										"value": "@{item().nom_usuario_fotografo}",
										"type": "Expression"
									},
									"start_time": {
										"value": "@{item().dtc_data_fotografia}",
										"type": "Expression"
									},
									"failed": true
								}
							}
						},
						{
							"name": "P3_PARAMETRO_ERRO_TRF",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "P3_Fotografia_Transform",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "P3_PARAMETRO_ARQUIVO_P3_OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"cod_calendario_monetario": {
										"value": "@item().cod_calendario_monetario",
										"type": "Expression"
									},
									"cod_divisao_processo": {
										"value": "@{item().cod_divisao_processo}",
										"type": "Expression"
									},
									"sig_escritorio_contratado": {
										"value": "@{item().sig_escritorio_contratado}",
										"type": "Expression"
									},
									"id_code": {
										"value": "@{item().id}",
										"type": "Expression"
									},
									"photography_id": {
										"value": "@{item().photographyId}",
										"type": "Expression"
									},
									"user_id": {
										"value": "@{item().nom_usuario_fotografo}",
										"type": "Expression"
									},
									"start_time": {
										"value": "@{item().dtc_data_fotografia}",
										"type": "Expression"
									},
									"failed": true
								}
							}
						},
						{
							"name": "P3_PARAMETRO_ERRO_LOAD",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "P3_Fotografia_Load",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "P3_PARAMETRO_ARQUIVO_P3_OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"cod_calendario_monetario": {
										"value": "@item().cod_calendario_monetario",
										"type": "Expression"
									},
									"cod_divisao_processo": {
										"value": "@{item().cod_divisao_processo}",
										"type": "Expression"
									},
									"sig_escritorio_contratado": {
										"value": "@{item().sig_escritorio_contratado}",
										"type": "Expression"
									},
									"id_code": {
										"value": "@{item().id}",
										"type": "Expression"
									},
									"photography_id": {
										"value": "@{item().photographyId}",
										"type": "Expression"
									},
									"user_id": {
										"value": "@{item().nom_usuario_fotografo}",
										"type": "Expression"
									},
									"start_time": {
										"value": "@{item().dtc_data_fotografia}",
										"type": "Expression"
									},
									"failed": true
								}
							}
						},
						{
							"name": "P3_GERA_ARQUIVO_SUCESSO",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "P3_Fotografia_Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "P3_PARAMETRO_ARQUIVO_P3_OLD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"cod_calendario_monetario": {
										"value": "@item().cod_calendario_monetario",
										"type": "Expression"
									},
									"cod_divisao_processo": {
										"value": "@{item().cod_divisao_processo}",
										"type": "Expression"
									},
									"sig_escritorio_contratado": {
										"value": "@{item().sig_escritorio_contratado}",
										"type": "Expression"
									},
									"id_code": {
										"value": "@{item().id}",
										"type": "Expression"
									},
									"photography_id": {
										"value": "@{item().photographyId}",
										"type": "Expression"
									},
									"user_id": {
										"value": "@{item().nom_usuario_fotografo}",
										"type": "Expression"
									},
									"start_time": {
										"value": "@{item().dtc_data_fotografia}",
										"type": "Expression"
									},
									"failed": false
								}
							}
						},
						{
							"name": "GOLD_INGESTION_FACT",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "P3_Fotografia_Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GOLD_INGESTION_FACT",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false
							}
						}
					]
				}
			},
			{
				"name": "get-new_requests_evh",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set-max_current_ts",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM (\n    select op_type\n        , cast(cast(current_ts as datetime2) as varchar(40)) as current_ts\n        , id\n        , photographyId\n        , sig_escritorio_contratado\n        , cod_divisao_processo\n        , cod_calendario as cod_calendario_monetario\n        , nom_usuario_responsavel\n        , nom_usuario_fotografo\n        , dtc_data_fotografia\n        , ROW_NUMBER() OVER (PARTITION BY photographyId, sig_escritorio_contratado, cod_divisao_processo, cod_calendario ORDER BY current_ts DESC) RN\n    from param_fotografia_evh\n    where CONVERT(DATETIME, REPLACE(LEFT(current_ts, 18), 'T', ' '), 21) >  '@{variables('max_current_ts')}'\n) q WHERE RN = 1 \nORDER BY current_ts DESC;",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Jarvis_Lake662",
						"type": "DatasetReference",
						"parameters": {
							"Database": "Silver",
							"Table": " "
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"variables": {
			"max_current_ts": {
				"type": "String"
			},
			"id": {
				"type": "String"
			},
			"photographyId": {
				"type": "String"
			},
			"sig_escritorio_contratado": {
				"type": "String"
			},
			"cod_divisao_processo": {
				"type": "String"
			},
			"cod_calendario_monetario": {
				"type": "String"
			},
			"dtc_data_fotografia": {
				"type": "String"
			},
			"dt_lim_ant_1": {
				"type": "String"
			},
			"dt_ultimo_dia_calendario_ant": {
				"type": "String"
			},
			"dt_cadastro_prox_d_util": {
				"type": "String"
			},
			"dt_lim_1_mes": {
				"type": "String"
			},
			"teste_paralelo": {
				"type": "String"
			}
		},
		"folder": {
			"name": "P3/OLD"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-31T20:30:30Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}