pipeline/P3_GERA_FOTOS_POSSIVEIS_FULL.json
{
	"name": "P3_GERA_FOTOS_POSSIVEIS_FULL",
	"properties": {
		"activities": [
			{
				"name": "Ler Calendario_atual",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select MAX(cod_calendario_monetario) AS cod_calendario_monetario from\n[Silver].[calendario_monetario_p3]\nwhere\nsts_ativo = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SynapseDedicado_SelfHosted",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "silver",
							"Table": "calendario_monetario_p3"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "Gera Fotos Possiveis",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "Ler Calendario_atual",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "syndpjarvisprod",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[rl3].[gera_fotos_possiveis]",
					"storedProcedureParameters": {
						"cod_calendario": {
							"value": {
								"value": "@activity('Ler Calendario_atual').output.firstRow.cod_calendario_monetario",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipe_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			}
		],
		"folder": {
			"name": "P3"
		},
		"annotations": [],
		"lastPublishTime": "2023-03-31T21:15:26Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}