pipeline/P3_PROCESSA_FOTOGRAFIA_FULL_MANUAL.json
{
	"name": "P3_PROCESSA_FOTOGRAFIA_FULL_MANUAL",
	"properties": {
		"activities": [
			{
				"name": "Gera Processos Pendentes",
				"type": "SqlPoolStoredProcedure",
				"dependsOn": [
					{
						"activity": "GERA AJUSTE CALENDARIO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"sqlPool": {
					"referenceName": "syndpjarvisprod",
					"type": "SqlPoolReference"
				},
				"typeProperties": {
					"storedProcedureName": "[rl3].[processos_pendentes_full]",
					"storedProcedureParameters": {
						"cod_calendario_monetario": {
							"value": {
								"value": "@activity('Ler Calendario_atual').output.firstRow.cod_calendario_monetario",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"pipe_id": {
							"value": {
								"value": "@pipeline().RunId",
								"type": "Expression"
							},
							"type": "String"
						},
						"table_changed": {
							"value": {
								"value": "CARGA FULL",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				}
			},
			{
				"name": "Ler Calendario_atual",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "select MAX(cod_calendario_monetario) AS cod_calendario_monetario from\n[Silver].[calendario_monetario_p3]\nwhere\nsts_ativo = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Jarvis_Pool_Dedicado",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "silver",
							"Table": "calendario_monetario_p3"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "GERA AJUSTE CALENDARIO",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Ler Calendario_atual",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Pool Dedicated",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE rl3.calendario_monetario_check\r\nSET cod_calendario_monetario = @{activity('Ler Calendario_atual').output.firstRow.cod_calendario_monetario} - 1;",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "Diferencia Modulos",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "Gera Processos Pendentes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Pool Dedicated",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "UPDATE pp\nSET \n    tipo_processo =  CASE\n                        WHEN mn.cod_modulo = 6\n                        THEN 'T'\n                        ELSE 'N'\n                    END \nFROM\nrl3.processos_pendentes AS pp\nJOIN silver.processo AS p ON p.num_processo = pp.num_processo\nJOIN silver.modulo_natureza AS mn ON mn.cod_natureza = p.cod_natureza\n                                AND mn.cod_especificacao_natureza = p.cod_especificacao_natureza\n                                AND mn.cod_detalhe_especific_natureza = p.cod_detalhe_especific_natureza\nwhere\npipeline_id = '@{pipeline().RunId}';",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"folder": {
			"name": "P3"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-06T13:58:44Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}