pipeline/P3_RELAT_FOTOGRAFIA_ENVIA_PARAM.json
{
	"name": "P3_RELAT_FOTOGRAFIA_ENVIA_PARAM",
	"properties": {
		"activities": [
			{
				"name": "create_csv_spark_file_generation",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "get-num_mes_ano",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT \n    '@{pipeline().parameters.id_code}' as id,\n    '@{pipeline().parameters.photography_id}' as photographyId,\n    '@{pipeline().parameters.sig_escritorio_contratado}' as sig_escritorio_contratado,\n    '@{pipeline().parameters.cod_divisao_processo}' as  cod_divisao_processo,\n    '@{pipeline().parameters.cod_calendario_monetario}' as cod_calendario,\n    '@{pipeline().parameters.user_id}' as nom_usuario_responsavel,\n    '@{pipeline().parameters.user_id}' as nom_usuario_fotografo,\n    '@{substring(pipeline().parameters.start_time, 0, 10)}' as dtc_data_fotografia,\n    '@{activity('get-num_mes_ano').output?.firstRow?.num_mes}' num_mes,\n    '@{activity('get-num_mes_ano').output?.firstRow?.num_ano}' num_ano\n    , CASE WHEN lower('@{pipeline().parameters.failed}') = 'true' THEN 'FAIL'\n        ELSE 'DONE' \n    END as status",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_SynapseServeless_SelfHosted",
						"type": "DatasetReference",
						"parameters": {
							"database": "silver"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DS_LakeStorage_CSV_SelfHosted",
						"type": "DatasetReference",
						"parameters": {
							"fs": "datalake",
							"path": {
								"value": "@concat('data/silver/tables/parametro_fotografia_p3_',pipeline().parameters.path_to_write)",
								"type": "Expression"
							},
							"file": {
								"value": "parametro_fotografia_p3_@{pipeline().parameters.id_code}_@{utcNow('yyyyMMdd_Hmmss')}.csv",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "get-num_mes_ano",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": {
							"value": "SELECT FORMAT(dtc_final, 'MM') AS num_mes,\n       FORMAT(dtc_final, 'yyyy') AS num_ano\n  FROM Silver.calendario_monetario_p3 \n WHERE cod_calendario_monetario = @{pipeline().parameters.cod_calendario_monetario}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_SynapseDedicado_SelfHosted",
						"type": "DatasetReference",
						"parameters": {
							"Schema": " ",
							"Table": " "
						}
					}
				}
			},
			{
				"name": "update_parametro",
				"description": "Update parametro sucesso",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "create_csv_spark_file_generation",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Pool Dedicated",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "---VERIFICAR SE É FLUXO DE ERRO\nIF EXISTS (\n    SELECT 1 as IS_ERROR \n    WHERE lower('@{pipeline().parameters.failed}') = 'true'\n)\n    BEGIN\n        --ATUALIZA TABELA DE PARAMETRO COM FALHA\n        UPDATE f set f.STATUS = 2\n        FROM Silver.param_fotografia_evh f\n        WHERE f.ID = '@{pipeline().parameters.id_code}';\n\n        THROW 50002, 'Falha no processamento desta fotografia, id: @{pipeline().parameters.id_code}', 1;\n    END\nELSE\n    BEGIN\n        --ATUALIZA SUCESSO\n        UPDATE f set f.STATUS = 1\n        FROM Silver.param_fotografia_evh f\n        WHERE f.ID = '@{pipeline().parameters.id_code}';\n    END;",
								"type": "Expression"
							}
						}
					]
				}
			},
			{
				"name": "update_parametro_fail",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "create_csv_spark_file_generation",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "Pool Dedicated",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "--ATUALIZA TABELA DE PARAMETRO COM FALHA\nUPDATE f set f.STATUS = 2\n   FROM Silver.param_fotografia_evh f\nWHERE f.ID = '@{pipeline().parameters.id_code}';\n\nTHROW 50002, 'Falha no processamento desta fotografia, id: @{pipeline().parameters.id_code}', 1;\n",
								"type": "Expression"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"cod_calendario_monetario": {
				"type": "string",
				"defaultValue": "155"
			},
			"cod_divisao_processo": {
				"type": "string",
				"defaultValue": "4"
			},
			"sig_escritorio_contratado": {
				"type": "string",
				"defaultValue": "LDOR"
			},
			"id_code": {
				"type": "string",
				"defaultValue": "d65e13d4-10ee-4343-b4bc-2ff85ca5648c"
			},
			"photography_id": {
				"type": "string",
				"defaultValue": "45249"
			},
			"user_id": {
				"type": "string",
				"defaultValue": "BA86365"
			},
			"start_time": {
				"type": "string",
				"defaultValue": "2022-08-15 00:00:00"
			},
			"failed": {
				"type": "bool",
				"defaultValue": false
			},
			"path_to_write": {
				"type": "string",
				"defaultValue": "0"
			}
		},
		"variables": {
			"LiberaArquivo": {
				"type": "Boolean"
			}
		},
		"folder": {
			"name": "P3"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-01T04:01:53Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}