pipeline/SILVER_INGESTION_EXTERNAL_CONTENT_copy1.json
{
	"name": "SILVER_INGESTION_EXTERNAL_CONTENT_copy1",
	"properties": {
		"activities": [
			{
				"name": "ConsultaTabelas",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"sqlReaderQuery": "SELECT\nT.*\nFROM\n[Silver].[jarvis_ctrl_ingestion_silvertables] T\nJOIN\n[Silver].jarvis_sync_control C ON C.table_name = REPLACE(T.table_name,'_STG','') AND T.last_update < C.SILVER_UPDATE\nWHERE\ntp_table IN ('STG')\nAND\nactive = 1\n\nUNION\n\nSELECT\nT.*\nFROM\n[Silver].[jarvis_ctrl_ingestion_silvertables] T\nWHERE\ntp_table IN ('STG')\nAND\nactive = 1\nAND\nfull_processing = 1\nORDER BY\ntp_table DESC,\nT.table_name DESC",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Jarvis_Pool_Dedicado16142",
						"type": "DatasetReference",
						"parameters": {
							"Schema": "Silver",
							"Table": "jarvis_ctrl_ingestion_silvertables"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ProcessaTabelas",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "ConsultaTabelas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('ConsultaTabelas').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Ler query",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Grava Inicio Carga",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"dataset": {
									"referenceName": "Arquivo_Query13532",
									"type": "DatasetReference",
									"parameters": {
										"file_url": {
											"value": "@split(toLower(item().query_path),'/' )[6]",
											"type": "Expression"
										},
										"file_path": "data/queries_silver"
									}
								},
								"firstRowOnly": true
							}
						},
						{
							"name": "Controla tipo de carga",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Ler query",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@item().full_processing",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Insere Dados Com Condicional",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Registra Inicio_op",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(replace(replace(activity('Ler query').output.firstRow.Prop_0,'\\r\\n\\t',''),';' ,' ' ),' ',item().conditional_clause\n,'DATETIMEFROMPARTS(',\nsubstring(item().last_update,0,4),','\n,substring(item().last_update,5,2),','\n,substring(item().last_update,8,2),','\n,substring(item().last_update,11,2),','\n,substring(item().last_update,14,2),','\n,substring(item().last_update,17,2),',00'\n,' )')",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlDWSink",
												"writeBehavior": "Upsert",
												"upsertSettings": {
													"keys": {
														"value": "@array(item().primary_key)",
														"type": "Expression"
													},
													"interimSchemaName": "Silver"
												},
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SQLServlessPool333",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Jarvis_Pool_Dedicado",
												"type": "DatasetReference",
												"parameters": {
													"Schema": "Silver",
													"Table": "@toLower(item().table_name)"
												}
											}
										]
									},
									{
										"name": "Registra Inicio_op",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_process_time",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Atualiza Registros de Sucesso Condicional",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Insere Dados Com Condicional",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "Silver.update_status_jarvis_ctrl_ingestion_silvertables ",
											"storedProcedureParameters": {
												"full_processing": {
													"value": "FALSE",
													"type": "Boolean"
												},
												"last_process_start": {
													"value": {
														"value": "@variables('Inicio_Carga')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"last_update": {
													"value": {
														"value": "@variables('start_process_time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"message_last_up": {
													"value": "CARGA PROCESSADA COM SUCESSO",
													"type": "String"
												},
												"status_last_up": {
													"value": "SUCCESS",
													"type": "String"
												},
												"table_name": {
													"value": {
														"value": "@item().table_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SelfHosted Lake",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Atualiza Registros com falha Condicional",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Insere Dados Com Condicional",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "Silver.update_status_jarvis_ctrl_ingestion_silvertables ",
											"storedProcedureParameters": {
												"full_processing": {
													"value": {
														"value": "@item().full_processing",
														"type": "Expression"
													},
													"type": "Boolean"
												},
												"last_process_start": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"last_update": {
													"value": {
														"value": "@item().last_update",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"message_last_up": {
													"value": {
														"value": "@concat('falha ao processar a tabela ',item().table_name)",
														"type": "Expression"
													},
													"type": "String"
												},
												"status_last_up": {
													"value": "FAIL",
													"type": "String"
												},
												"table_name": {
													"value": {
														"value": "@item().table_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SelfHosted Lake",
											"type": "LinkedServiceReference"
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Insere Dados sem condicional_a",
										"type": "Copy",
										"dependsOn": [
											{
												"activity": "Registra Inicio",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"source": {
												"type": "AzureSqlSource",
												"sqlReaderQuery": {
													"value": "@concat(replace(activity('Ler query').output.firstRow.Prop_0,'\\r\\n\\t',''))",
													"type": "Expression"
												},
												"queryTimeout": "02:00:00",
												"partitionOption": "None"
											},
											"sink": {
												"type": "SqlDWSink",
												"writeBehavior": "Insert",
												"sqlWriterUseTableLock": false,
												"tableOption": "autoCreate",
												"disableMetricsCollection": false
											},
											"enableStaging": false,
											"parallelCopies": 16,
											"dataIntegrationUnits": 8,
											"translator": {
												"type": "TabularTranslator",
												"typeConversion": true,
												"typeConversionSettings": {
													"allowDataTruncation": true,
													"treatBooleanAsNumber": false
												}
											}
										},
										"inputs": [
											{
												"referenceName": "SQLServlessPool3332",
												"type": "DatasetReference"
											}
										],
										"outputs": [
											{
												"referenceName": "Jarvis_Pool_Dedicado16142",
												"type": "DatasetReference",
												"parameters": {
													"Schema": "Silver",
													"Table": {
														"value": "@toLower(item().table_name)\n",
														"type": "Expression"
													}
												}
											}
										]
									},
									{
										"name": "Registra Inicio",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "start_process_time",
											"value": {
												"value": "@utcnow()",
												"type": "Expression"
											}
										}
									},
									{
										"name": "Atualiza Registros de Sucesso Full",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Insere Dados sem condicional_a",
												"dependencyConditions": [
													"Succeeded"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "Silver.update_status_jarvis_ctrl_ingestion_silvertables ",
											"storedProcedureParameters": {
												"full_processing": {
													"value": "FALSE",
													"type": "Boolean"
												},
												"last_process_start": {
													"value": {
														"value": "@variables('Inicio_Carga')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"last_update": {
													"value": {
														"value": "@variables('start_process_time')",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"message_last_up": {
													"value": "CARGA PROCESSADA COM SUCESSO",
													"type": "String"
												},
												"status_last_up": {
													"value": "SUCCESS",
													"type": "String"
												},
												"table_name": {
													"value": {
														"value": "@item().table_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SelfHosted Lake",
											"type": "LinkedServiceReference"
										}
									},
									{
										"name": "Atualiza Registros com falha Full",
										"type": "SqlServerStoredProcedure",
										"dependsOn": [
											{
												"activity": "Insere Dados sem condicional_a",
												"dependencyConditions": [
													"Failed"
												]
											}
										],
										"policy": {
											"timeout": "7.00:00:00",
											"retry": 0,
											"retryIntervalInSeconds": 30,
											"secureOutput": false,
											"secureInput": false
										},
										"userProperties": [],
										"typeProperties": {
											"storedProcedureName": "Silver.update_status_jarvis_ctrl_ingestion_silvertables ",
											"storedProcedureParameters": {
												"full_processing": {
													"value": {
														"value": "@item().full_processing",
														"type": "Expression"
													},
													"type": "Boolean"
												},
												"last_process_start": {
													"value": {
														"value": "@pipeline().TriggerTime",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"last_update": {
													"value": {
														"value": "@item().last_update",
														"type": "Expression"
													},
													"type": "DateTime"
												},
												"message_last_up": {
													"value": {
														"value": "@concat('falha ao processar a tabela ',item().table_name)",
														"type": "Expression"
													},
													"type": "String"
												},
												"status_last_up": {
													"value": "FAIL",
													"type": "String"
												},
												"table_name": {
													"value": {
														"value": "@item().table_name",
														"type": "Expression"
													},
													"type": "String"
												}
											}
										},
										"linkedServiceName": {
											"referenceName": "SelfHosted Lake",
											"type": "LinkedServiceReference"
										}
									}
								]
							}
						},
						{
							"name": "Atualiza Registros com falha query",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Ler query",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "Silver.update_status_jarvis_ctrl_ingestion_silvertables ",
								"storedProcedureParameters": {
									"full_processing": {
										"value": {
											"value": "@item().full_processing",
											"type": "Expression"
										},
										"type": "Boolean"
									},
									"last_process_start": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"last_update": {
										"value": {
											"value": "@item().last_update",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"message_last_up": {
										"value": {
											"value": "@concat('falha ao ler query de:',item().table_name)",
											"type": "Expression"
										},
										"type": "String"
									},
									"status_last_up": {
										"value": "FAIL",
										"type": "String"
									},
									"table_name": {
										"value": {
											"value": "@item().table_name",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "SelfHosted Lake",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Grava Inicio Carga",
							"type": "SetVariable",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Inicio_Carga",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"tp_table": {
				"type": "string"
			}
		},
		"variables": {
			"table_name": {
				"type": "String"
			},
			"tipo_carga": {
				"type": "Boolean"
			},
			"condional": {
				"type": "String"
			},
			"chave": {
				"type": "String"
			},
			"start_process_time": {
				"type": "String"
			},
			"Ultima_Carga": {
				"type": "String"
			},
			"Inicio_Carga": {
				"type": "String"
			}
		},
		"folder": {
			"name": "SILVER"
		},
		"annotations": [],
		"lastPublishTime": "2023-04-04T14:46:45Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}